


<section  style="width: 90%; height: 100vh">
  <div id="wrapper">
  
    <div class="loading-bar">
      <div class="progress-bar"></div>
    </div>
    <div class="status">
      <div class="state">Question</div>
      <div class="percentage">0%</div>
    </div>
  </div>
  
  <div class="item">
  <h1>
   {{question[0].question}}
  </h1>
 </div>
<section class="answers">


<!-- choix 1  -->
 <div class="choice-1 choice d-flex justify-content-around align-items-center mt-4">
  <p>
    {{question[0].correct_answer}}
  </p>
  <input type="radio" name="choice" id="choice-1" value="1">
 </div>

 <!-- choix 2 -->
 <div class=" choice choice-2 d-flex justify-content-around align-items-center mt-4">
  <p>
    {{question[0].incorrect_answers[0]}}
  </p>
  <input type="radio" name="choice" id="choice-1" value="1">
 </div>

 <!-- choix 3  -->

 <div class="choice choice-3 d-flex justify-content-around align-items-center mt-4">
  <p>
    {{question[0].incorrect_answers[1]}}

  </p>
  <input type="radio" name="choice" id="choice-1" value="1">
 </div>

 <!-- choix 4  -->

 <div class="choice choice-4 d-flex justify-content-around align-items-center mt-4 mb-5">
  <p>
    {{question[0].incorrect_answers[2]}}

  </p>
  <input type="radio" name="choice" id="choice-1" value="1">
 </div>
 

</section>


</section>