


<section  style="width: 90%; height: 100vh"    [hidden]="gemeOver"
>
  <div id="wrapper">
  
    <div class="loading-bar">
      <div class="progress-bar" [style.width.%]="progress"></div>
    </div>
    <div class="status">
      <div class="state">Question {{count}}</div>
      <div class="percentage">{{progress}}%</div>
    </div>
  </div>
  
  <div class="item">
  <h1>
   {{question[count-1].question}}
  </h1>
 </div>
<section class="answers">


<!-- choix 1  -->
 <div class=" choice  d-flex justify-content-around align-items-center mt-4" 
 (click)="checkAnswer(question[count-1].correct_answer)"
 [ngClass]= "{'selected ' : selectedAnswer ===question[count-1].correct_answer }"
 >
  <p>
    {{question[count-1].correct_answer}}
  </p>
 </div>

 <!-- choix 2 -->
 <div class=" choice choice-2 d-flex justify-content-around align-items-center mt-4"
 (click)="checkAnswer(question[count-1].incorrect_answers[0])"
 [ngClass]= "{'selected ' : selectedAnswer ===question[count-1].incorrect_answers[0]  }"
 >
  <p>
    {{question[count-1].incorrect_answers[0]}}
  </p>
 </div>

 <!-- choix 3  -->

 <div class="choice choice-3 d-flex justify-content-around align-items-center mt-4"
 (click)="checkAnswer(question[count-1].incorrect_answers[1])"
 [ngClass]= "{'selected ' : selectedAnswer ===question[count-1].incorrect_answers[1]  }"
 >
  <p>
    {{question[count-1].incorrect_answers[1]}}

  </p>
 </div>

 <!-- choix 4  -->

 <div class="choice choice-4 d-flex justify-content-around align-items-center mt-4 mb-5"
 (click)="checkAnswer(question[count-1].incorrect_answers[2])"
 [ngClass]= "{'selected ' : selectedAnswer ===question[count-1].incorrect_answers[2]  }"
 
 >
  <p>
    {{question[count-1].incorrect_answers[2]}}

  </p>
 </div>
 

</section>
<button (click)="nextQestion()"  [disabled]="choiseselected"  >Next</button>
</section>





<section class="result">
<div class="score" [hidden]="!gemeOver">
  <img src="./images/winner.png" alt="">
  <h1>{{userName}}</h1>
  <h2 class="text-success">Your Score {{score}} points</h2>


</div>

<div id="wrapper" [hidden]="!gemeOver">
  <a href="#" class="my-super-cool-btn">
    <div class="dots-container">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <span routerLink="/">Play</span>
  </a>
</div>
</section>