a{
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 80px;
  height: 80px;
background-color: transparent;
margin-left: 20px;	
}

.menu {
  background-color: #3EB8D4;
  left: 0px;
width: 128px;
height: 90vh;
background: #3EB8D4 0% 0% no-repeat padding-box;
border-radius: 0px 39px 39px 0px;
opacity: 1;

  
}
a , i {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
}
nav{
  min-height: 60vh;
}

ul {
  padding: 0;
  padding-top: 100px;

}

nav a ,nav  i {
  color: #FFFFFF;
}
.active{
  width: 80px;
height: 80px;
background: #efeeee4b 0% 0% no-repeat padding-box;
box-shadow: 9px 9px 16px #00000038;
opacity: 1;
border-radius: 100%;
margin-left: 30px;
a{
  color: black;
}
i {
  color: black;
}
}


nav li:hover {
width: 80px;
height: 80px;
background: #efeeee4b 0% 0% no-repeat padding-box;
box-shadow: 9px 9px 16px #00000038;
opacity: 1;
border-radius: 100%;
margin-left: 30px;
a{
  color: black;
}
i {
  color: black;
}

}



h2{
  padding-top: 32px;
  width: 101px;
  height: 34px;
  text-align: center;
  font: normal normal bold 20px/24px Tahoma;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  