<section  style="width: 120px;">
  <div class="menu" >
      <nav>
          <h2>Quizizz</h2>
          <ul >
              <li class="home-link"> <i class='bx bx-home-alt pt-3  ' ></i><a href="" >Home</a></li>
              <li class="quiz-link"><i class='bx bx-task   pt-3'></i><a href="" class="">Quiz</a></li>
              <li class="history-link"><i class='bx bx-list-minus   pt-3'></i><a href="" class="">Historique</a></li>
              <li class="config-link"><i class='bx bxs-cog   pt-3'></i><a href="" class="">Settings</a></li>
          </ul>
      </nav>
  </div>
</section>