
<section style="width: 100%; height: 100vh; margin-left: 15px;" > 

    <div class="d-flex justify-content-between avatar " style="height: fit-content;">
        <h3>
            Hi, Mohamed
        </h3>
        <img src="images/image.png" alt="" >
    </div>
    <p>Lets make this day productive</p>
   <div class="score p-2 d-flex justify-content-around align-content-center d-block ms-auto me-auto">
    <img src="images/trophy.png" alt="" srcset="">
    <div >
        <h6>Ranking</h6>
        <h5>1</h5>
    </div>
 
   <div class="line"></div>
    <img src="images/coin.png" alt="" srcset="">
    <div>
        <h6>Points</h6>
        <h5>1000</h5>
    </div>

   </div>
  <div class="line-h"></div>
   <h3 class="play">  Let's play </h3>

   <section class="category ms-5 mt-5  ps-5 row justify-content-evenly align-content-center gap-5">

     <div class="item col-sm-4 col-md-3">
        <img src="images/sport-equipment-concept.png" alt="" srcset="">
        <h5>Sport</h5>
        <h6>35 qestion</h6>
     </div>


     <div class="item col-sm-4 col-md-3">
     
        <img src="images/chemistry.png" alt="" srcset="">

        <h5>Chemistry</h5>
        <h6>35 qestion</h6>
     </div>

     <div class="item col-sm-4 col-md-3">
        <img src="images/map.png" alt="" srcset="">

        <h5>Geography</h5>
        <h6>35 qestion</h6>
     </div>

<div class="item col-sm-4 col-md-3">
    <img src="images/calculator.png" alt="" srcset="">

        <h5>math</h5>
        <h6>35 qestion</h6>
     </div>
   </section>
</section>



<section class="username">

</section>

