.active {
    width: 68px;
    height: 68px;
    background: #EFEEEE 0% 0% no-repeat padding-box;
    box-shadow: 9px 9px 16px #00000038;
    opacity: 1;
    border-radius: 100%;
    margin-left: 30px;
    }
    
    h3{
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    font-size: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    
    }
    .avatar img {
        width: 54px;
        height: 54px;
        margin-right: 10px;
        margin-top: 5px;
    
    }
    .avatar {
        padding-top: 10px;
        padding-left: 10px;
    }
    p {
        text-align: left;
    letter-spacing: 0px;
    color: #737373;
    opacity: 1;
    }
    .score{
        width: 327px;
    height: 70px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 12px #00000014;
    border-radius: 16px;
    opacity: 1;
    
    }
    .score img {
        height: 32px;
        width: 32px;
        margin-top: 8px;
    
    }
    .score h6 {
    text-align: left;
    letter-spacing: 0px;
    color: #323232;
    opacity: 1;
    font-size: 12px;
    }
    .score h5 {
        font-size: 18px;
        color: #3EB8D4;
    }
    .line {
        height: 50px;
        width: 1px;
        background-color: #F1F1F1;
    }
    .line-h{
        margin-top: 30px;
        height: 1px;
        width: 100%;
        background-color: #F1F1F1;
    
    }
    .play {
    text-align: left;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    font-size: 20px;
    margin-left: 30px;
    }
    .item{
        width: 155px;
    height: 155px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 12px #0000001F;
    border-radius: 14px;
    opacity: 1;
    }
    .category img {
        margin-left: 20px;
        width: 90px;
        height: 90px;
    /* UI Properties */
    opacity: 1;
    
    }
    
    
    
    .category h6 {
        text-align: left;
    letter-spacing: 0px;
    color: #323232;
    opacity: 1;
    font-size: 12px;
    margin-left: 15px;
    
    }
    
    .category h5 {
        text-align: left;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 15px;

    }
    

h1{
 text-align: left;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
font-size:  14px;
text-align: center;
margin-bottom: 30px;
    }

    span{

      color: white;
      font-weight: bolder;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      font-size: 22px;
    }

.answers{
 width: 391px;
height: fit-content;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 4px 4px 12px #00000014;
opacity: 1;
border-radius: 5%;
padding: 10px;
display: block;
margin-left: auto;
margin-right: auto;
    }


    .choice {
        width: 300px;
        height: 45px;
        border: 2px solid #00f2ff22;
        border-radius: 16px;
        background: #DCF8FF;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 0px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .choice p {
        margin: 0;
      }
      
   
     
      
     .selected{
      box-shadow: 0 0 3px 1px #0ca8e6;
      outline: #0ca8e6 solid 2px;
      border: #0ca8e6 2px solid !important;
      background-color: #0ca8e62a  !important;
      font-weight: bolder;
      p{
        color: #0ca8e6 !important;
      }
     }
      
      
      .hard{
        background: #ff082528 0% 0% no-repeat padding-box;
        border: 2px solid #ff0825;
        border-radius: 16px;
        opacity: 1;
        p{
          color: #ff0825;
        }
        
      
      }

      .easy{
        background: #56ff0828 0% 0% no-repeat padding-box;
        border: 2px solid #2ed573;
        border-radius: 16px;
        opacity: 1;
        p{
          color: #2ed573;
        }
        
       
      }
      

      .meduim{
        background: #e88c1b12 0% 0% no-repeat padding-box;
        border: 2px solid #e88c1b;
        border-radius: 16px;
        opacity: 1;
        p{
          color: #e88c1b;
        }
        
      
      }
button {
    background-color: #3EB8D4;
    border-radius: 5px;
    border:  #3EB8D4 2px solid;
    color: white;
    padding: 8px 30px;

}
button:hover{
    background-color: #3eb8d4e1;
}
    

/* section user name  */

.username{
width: 391px;
height: fit-content;
border-radius: 10px;
padding: 10px;
display: block;
margin-left: auto;
margin-right: auto;
background: #3EB8D4 0% 0% no-repeat padding-box;
box-shadow: 4px 4px 12px #00000014;
opacity: 1;
}

.play-btn {
color: white;
width: fit-content;
height: 49px;
background-color: #44D7B6;
box-shadow: 0px 3px 6px #6fff0029;
border-radius: 15px;
}
.play-btn:hover{
background-color: #44d7b7aa;
}

#username{
padding: 5px 20px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 1px #4de9e9;
border-radius: 16px;
opacity: 1;
border: 1px solid #44d7d7;
}

#username:focus{
    outline: solid #44d7b7;
    border: 1px solid #44d7b7;
    box-shadow: 0px 1px 1px #44d7b7;
}


    


.clicked{
  border: #0ca8e6 3px solid;
  box-shadow: 0px 0px 5px #0ca8e6;
  
}


.item:hover{

  transform: scale(1.1,1.1);
  border: #0ca8e6 1.2px dashed;
}  
.choice:hover{
  background-color: #0ca8e616 !important;
  border: #0ca8e6 solid 2px;
  p {color: #0ca8e6 !important;
  }
}
 
