
<section  [hidden]="categorySelected" class="home" style="width: 90%; height: 100vh; margin-left: 15px; " > 
    <div class="d-flex justify-content-between avatar " style="height: fit-content;">
        <h3>
            Hi, {{userName}}
            
        </h3>
        <img src="images/image.png" alt="" >
    </div>
    <p>Lets make this day productive</p>
   <div class="score p-2 d-flex justify-content-around align-content-center d-block ms-auto me-auto">
    <img src="images/trophy.png" alt="" srcset="">
    <div >
        <h6>Ranking</h6>
        <h5>1</h5>
    </div>
 
   <div class="line"></div>
    <img src="images/coin.png" alt="" srcset="">
    <div>
        <h6>Points</h6>
        <h5>1000</h5>
    </div>

   </div>
  <div class="line-h"></div>
   <h3 class="play">  Let's play </h3>

   <section class="category ms-5 mt-5  ps-5 row justify-content-evenly align-content-center gap-5">
    @for ( item of Category; track item.id ){
     <div class="item col-sm-4 col-md-3" data-id="1" (click)="Selected(item.id)">
        <img [src]="item.imageSrc" alt="" srcset="">
        <h5>{{item.name}}</h5>
        <h6>35 qestion</h6>
     </div>
    }
   </section>
</section>






<!-- select level  -->

<section  [hidden]="levelSelected" class="level pt-5"  style="width: 90%; height: 100vh; margin-left: 15px; ">
  <h1> Select Level</h1>
  <section class="answers">
  
  
  <!-- choix 1  -->

  @for ( item of Level ; track item.id){
   <div  class="simple choice {{item.name}} d-flex justify-content-around align-items-center mt-4" (click)="select(item.name)" >
    <p>
      {{item.name}}
    </p>
   </div>
  }
  
  </section>
  
  <button id="next-btn" class="d-block ms-auto me-auto mt-5" (click)="startQuiz()" [disabled]="inputSelected" >Next</button>
  </section>
<!-- end select level  -->



<!-- enter user name of player section  -->


<!-- select level  -->

<section  [hidden]="userNameSelected"  class="player-username mt-5"  style="width: 90%; height: 100vh; margin-left: 15px;">

    <h1> Enter Your Name First To start Playing</h1>
    <section class="username">

      <span>Quizizz</span>
    
    
    <!-- username input   -->
    
     <input [(ngModel)]="userName" id="username" type="text" name="username"  placeholder="Enter your name" class="d-block ms-auto me-auto mt-5 username-input">

     <button class="d-block ms-auto me-auto mt-5 play-btn"  (click)="saveUserName()" > save</button>

    </section>
    
    </section>
  
  
