
<section class="home" style="width: 90%; height: 100vh; margin-left: 15px; " > 

    <div class="d-flex justify-content-between avatar " style="height: fit-content;">
        <h3>
            Hi, Mohamed
        </h3>
        <img src="images/image.png" alt="" >
    </div>
    <p>Lets make this day productive</p>
   <div class="score p-2 d-flex justify-content-around align-content-center d-block ms-auto me-auto">
    <img src="images/trophy.png" alt="" srcset="">
    <div >
        <h6>Ranking</h6>
        <h5>1</h5>
    </div>
 
   <div class="line"></div>
    <img src="images/coin.png" alt="" srcset="">
    <div>
        <h6>Points</h6>
        <h5>1000</h5>
    </div>

   </div>
  <div class="line-h"></div>
   <h3 class="play">  Let's play </h3>

   <section class="category ms-5 mt-5  ps-5 row justify-content-evenly align-content-center gap-5">

     <div class="item col-sm-4 col-md-3" data-id="1">
        <img src="images/sport-equipment-concept.png" alt="" srcset="">
        <h5>Sport</h5>
        <h6>35 qestion</h6>
     </div>


     <div class="item col-sm-4 col-md-3"  data-id="2">
     
        <img src="images/chemistry.png" alt="" srcset="">

        <h5>Chemistry</h5>
        <h6>35 qestion</h6>
     </div>

     <div class="item col-sm-4 col-md-3"  data-id="25">
        <img src="images/map.png" alt="" srcset="">

        <h5>Geography</h5>
        <h6>35 qestion</h6>
     </div>

<div class="item col-sm-4 col-md-3"  data-id="3">
    <img src="images/calculator.png" alt="" srcset="">

        <h5>math</h5>
        <h6>35 qestion</h6>
     </div>
   </section>
</section>






<!-- select level  -->

<section class="level pt-5"  style="width: 90%; height: 100vh; margin-left: 15px; ">
  <h1> Select Level</h1>
  <section class="answers">
  
  
  <!-- choix 1  -->
   <div class="simple choice d-flex justify-content-around align-items-center mt-4">
    <p>
      Simple
    </p>
    <input type="radio" name="choice" id="choice-1" value="1">
   </div>
  
   <!-- choix 2 -->
   <div class=" choice meduim d-flex justify-content-around align-items-center mt-4">
    <p>
      Meduim
    </p>
    <input type="radio" name="choice" id="choice-1" value="1">
   </div>
  
   <!-- choix 3  -->
  
   <div class="choice hard d-flex justify-content-around align-items-center mt-4 mb-4">
    <p>
      Hard
    </p>
    <input type="radio" name="choice" id="choice-1" value="1">
   </div>
  
 
   
  
  </section>
  
  <button class="d-block ms-auto me-auto mt-5">Next</button>
  </section>
<!-- end select level  -->



<!-- enter user name of player section  -->


<!-- select level  -->

<section class="player-username"  style="width: 90%; height: 100vh; margin-left: 15px;">
    <h1> Enter Your Name</h1>
    <section class="username">
    
    
    <!-- username input   -->
    
      <input type="text" name="username" id="username" placeholder="Enter your name" class="d-block ms-auto me-auto mt-5">
     <button class="d-block ms-auto me-auto mt-5 play-btn">play</button>

    </section>
    
    </section>
  
  
